@use "../core/mixin" as *;
@use "../core/font" as *;

.bnh {
  &-item {
    position: relative;
    .b-panel {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      max-width: 62rem;
      padding: 2.4rem 4rem;
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 103.85%
      );
      border-left: 0.6rem solid var(--color-pri);
      @include max(1200px) {
        padding: 2.4rem;
        border-width: 0.3rem;
        gap: 1.2rem;
      }
    }
  }
  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    min-height: calc(600 / 1512 * 100vw);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 2.4rem;
    padding: 10% 0;
    @include max(1024px) {
      padding: 4rem 0;
      min-height: 36rem;
      gap: 1.6rem;
    }
  }
  &-sw {
    position: relative;
  }
  &-pagination.swiper-pagination {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
    max-width: 123rem;
    padding: 0 1.5rem;
    z-index: 10;
  }
  &-control.swiper-control {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    @include max(768px) {
      display: none;
    }
  }
}
.bnp {
  position: relative;

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(21, 38, 75, 0) 50%,
        rgba(21, 38, 75, 0.8) 100%
      );
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-wrap {
    min-height: 40rem;
    padding: 2.8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include max(1200px) {
      min-height: 30rem;
    }
    @include max(768px) {
      min-height: 24rem;
    }
  }
  &-title {
    font-weight: 700;
    @include fz-64;
    color: var(--color-white);
    @include lc(1);
    @include font-second;
    text-transform: uppercase;
  }
  &-ctn {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    flex-wrap: wrap;
    position: relative;
    &::before {
      content: attr(data-text);
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      font-weight: 700;
      font-size: 8rem;
      mix-blend-mode: overlay;
      color: #fff;
      opacity: 0.5;
      line-height: 1;
      transform: translateY(50%);
      @include max(1200px) {
        font-size: 6.4vw;
      }
    }
    .t-des {
      color: var(--color-white);
    }
    .breadcrumb {
      display: flex;
      --color-sec: #ff0009;
    }
  }
}
.bnj {
  position: relative;
  overflow: hidden;
  &-container {
    max-width: 100%;
    width: calc(100vw - (100vw - 123rem) / 2);
    margin-left: auto;
    padding: 4rem 0;
    @include max(768px) {
      padding: 2rem 0;
      padding-top: 8rem;
    }
  }
  &-img {
    position: absolute;
    @include full;
    z-index: -1;
    &::before {
      content: "";
      position: absolute;
      @include full;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, #000000 100%);
    }
    &::after {
      content: "";
      position: absolute;
      @include full;
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-flex {
    display: flex;
    margin: 0 -2.4rem;
    min-height: calc((600 / 1500) * 100vw);
    padding-left: 1.5rem;
    @include max(768px) {
      padding: 0 1.5rem;
    }
    .col-left {
      width: 60%;
      padding: 0 2.4rem;
      @include max(768px) {
        width: 100%;
      }
    }
    .col-right {
      width: 40%;
      padding: 0 2.4rem;
      display: flex;
      align-items: center;
      @include max(768px) {
        display: none;
      }
    }
  }
  &-title {
    @include fz-32;
    font-weight: 700;
    color: var(--color-white);
    @include lc(3);
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    height: 100%;
    justify-content: flex-end;
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    max-width: 32rem;
    padding: 2.4rem;
    background: var(--color-white);
    border-top: 0.6rem solid var(--color-pri);
    width: 100%;
    &-item {
      padding: 0 2.4rem;
      &:not(:last-child) {
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
      }
      @include fz-18;
      .iwt {
        --iz: 4rem;
        --cl: var(--color-text);
      }
      .val {
        font-weight: 700;
        @include fz-20;
        color: var(--color-pri);
      }
      .t-num {
        font-weight: 700;
        @include fz-20;
        color: var(--color-pri);
      }
    }
  }
}
.bn-news {
  .b-panel {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    max-width: 100rem;
    margin: 0 auto;
    align-items: center;
  }
  .breadcrumb-item {
    color: var(--color-text) !important;
  }
  .breadcrumb {
    max-width: 100%;
  }
  .t-text {
    @include fz-40;
    color: var(--color-pri);
    font-weight: 700;
    text-align: center;
    @include font-second;
  }
  .b-tag {
    --bg: var(--color-sec);
    --cl: var(--color-white);
  }
}
.bn-career {
  .breadcrumb-item {
    color: var(--color-text) !important;
  }
  .t-text {
    font-weight: 700;
    @include fz-40;
    color: var(--color-pri);
    @include lc(1);
    @include font-second;
  }
  .b-panel {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
  }
  .b-right {
    max-width: 40rem;
  }
  .box-info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    .b-item {
      display: flex;
      gap: 0.4rem;
      color: #141414;
      padding-bottom: 0.4rem;
      border-bottom: 0.1rem solid var(--color-pri);
      .text {
        width: 14rem;
      }
      .value {
        flex: 1;
        font-weight: 700;
      }
    }
  }
}
.work-detail-head {
  margin-bottom: var(--pd-sc);
  @include max(1200px) {
    margin-bottom: 2.4rem;
  }
  .hab-list {
    justify-content: space-between;
  }
  .hab-panel::before {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    right: unset;
    background: #e6eaf2;
  }
}
.t40 {
  @include fz-40;
}
