@use "../core/mixin" as *;
@use "../core/font" as *;

.bnh {
  &-item {
    position: relative;
  }
  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    min-height: calc(600 / 1512 * 100vw);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 2.4rem;
    padding: 10% 0;
    @include max(1024px) {
      padding: 4rem 0;
      min-height: 36rem;
      gap: 1.6rem;
    }
  }
  &-sw {
    position: relative;
  }
  &-pagination.swiper-pagination {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
    max-width: 123rem;
    padding: 0 1.5rem;
    z-index: 10;
  }
  &-control.swiper-control {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    @include max(768px) {
      display: none;
    }
  }
}
.bnp {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: var(--color-pri);
    top: 0;
    left: 0;
    bottom: 3rem;
    width: 70%;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    @include max(500px) {
      bottom: 1.6rem;
    }
  }
  &-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    z-index: -2;
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%);
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-wrap {
    min-height: 40rem;
    padding: 2.8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include max(1200px) {
      min-height: 30rem;
    }
    @include max(768px) {
      min-height: 24rem;
    }
  }
  &-title {
    font-weight: 700;
    @include fz-48;
    color: var(--color-white);
  }
  &-ctn {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    .t-des {
      color: var(--color-white);
    }
  }
}
