@use "../core/mixin" as *;
@use "../core/font" as *;
.sitemap-img {
  position: relative;
}
.sitemap-pos {
  position: absolute;
  @include full;
}
.sitemap-mem {
  position: absolute;
  width: 32%;
  padding-top: 6.7%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  &.lv1 {
    top: 5.2%;
    left: 50%;
  }
  &.lv2 {
    top: 21%;
    left: 50%;
  }
  &.lv3 {
    top: 20.8%;
    left: 81%;
    width: 27%;
  }
  &.lv4 {
    top: 36.8%;
    left: 50%;
  }
  &.lv5 {
    top: 54.8%;
    left: 11%;
    width: 25%;
  }
  &.lv6 {
    top: 54.8%;
    left: 37%;
    width: 24%;
  }
  &.lv7 {
    top: 54.8%;
    left: 63%;
    width: 25%;
  }
  &.lv8 {
    top: 54.8%;
    left: 89%;
    width: 25%;
  }
  &.lv9 {
    top: 73.8%;
    left: 5%;
    width: 10%;
  }
  &.lv10 {
    top: 73.8%;
    left: 16%;
    width: 10%;
  }
  &.lv11 {
    top: 73.8%;
    left: 28%;
    width: 10%;
  }
  &.lv12 {
    top: 73.8%;
    left: 39%;
    width: 10%;
  }
  &.lv13 {
    top: 73.8%;
    left: 50%;
    width: 10%;
  }
  &.lv14 {
    top: 73.8%;
    left: 61.5%;
    width: 10%;
  }
  &.lv15 {
    top: 73.5%;
    left: 72.5%;
    width: 10%;
  }
  &.lv16 {
    top: 73.5%;
    left: 84%;
    width: 10%;
  }
  &.lv17 {
    top: 73.5%;
    left: 95.5%;
    width: 10%;
  }
  &.lv18 {
    top: 92.5%;
    left: 30.5%;
    width: 18%;
  }
  &.lv19 {
    top: 92%;
    left: 50%;
    width: 18%;
  }
  &.lv20 {
    top: 92.5%;
    left: 69.5%;
    width: 18%;
  }
}
.prds-item {
  .b-pagi {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 90%;
  }
  .b-image {
    position: relative;
    .b-tag {
      position: absolute;
      top: 1.2rem;
      right: 1.2rem;
      z-index: 10;
      background: var(--color-pri);
      --iz: 1.4rem;
      --py: 0.6rem 1.2rem;
      --cl: #fff;
      --fw: 400;
    }
    .inner-image {
      aspect-ratio: 389/240;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .b-ctn {
    padding: 2.4rem;
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    @include max(1200px) {
      padding: 1.2rem;
    }
    .t-head {
      @include fz-20;
      color: var(--color-text);
      font-weight: 700;
      border-bottom: 0.1rem solid #dddddd;
      padding-bottom: 1.2rem;
      transition: 0.3s ease-in-out;
      @include lc(2);
      @include hover {
        color: var(--color-pri);
      }
    }
    .t-group {
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;
      align-items: baseline;
      .t-price {
        @include fz-24;
        color: var(--color-pri);
        font-weight: 600;
      }
      .t-note {
        @include fz-16;
        color: #a2a2a2;
      }
    }
    .t-list {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }
    .t-item {
      display: flex;
      color: var(--color-black);
      gap: 0.6rem;
      @include fz-16;
      .txt-main {
        flex: 1;
        font-weight: 700;
        @include max(768px) {
          flex: 0 0 35%;
        }
      }
      .txt-sub {
        flex: 1;
      }
    }
  }
  .b-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
}
.prds-block {
  margin-top: 4rem;
}
.prds-list {
  > .col {
    @include max(1024px) {
      width: 50%;
    }
    @include max(600px) {
      width: 100%;
    }
  }
}
.cate {
  .career-search {
    max-width: 50rem;
  }
}
